{% load static %}
<section
    class="relative min-h-[700px] w-full flex items-center justify-center text-white text-center bg-cover bg-center"
    style="background-image: linear-gradient(rgba(45, 62, 80, 0.7), rgba(45, 62, 80, 0.7)), url('{% static 'images/banner_two.jpg' %}');">

    <div class="max-w-4xl mx-auto px-4 pt-20">
        <div class="mb-6 inline-block relative">

        </div>

        <p class="text-gray-300 text-lg md:text-xl font-light mb-2 tracking-wide">15 October at 20:00 - 22:00</p>
        <h1 class="text-4xl md:text-7xl font-black uppercase tracking-tighter mb-10 leading-none">
            PHP Conference <br> in Manhattan
        </h1>
        <div>
            <a href="#"
                class="bg-[#f05555] hover:bg-white hover:text-[#f05555] text-white px-12 py-4 rounded-lg font-bold uppercase transition duration-300 shadow-lg">
                Explore Now
            </a> 
        </div>
    </div>
</section>